body{
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.bp2z3FPC-atXY-9dGZt30QHaE9&pid=Api&P=0&h=180);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgreen;
    background-blend-mode: multiply;
    
}